*{
    text-align: center;
}
header{
    margin-bottom: 1rem;
}
.nav{
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    margin: auto;
    background-color: slategray;
    padding: 10px;
}
.linkSub{
    display: flex;
    width:40rem;
    justify-content: space-evenly;
    margin: auto;
}
.links{
    padding-left: 2rem;
    padding-right: 2rem;
}
a{
    font-size: larger;
    font-weight: bold;
    color: antiquewhite;
}
.logo{
    width: 45%;
    height: 45%;
}
.search{
    margin: auto;
    padding-bottom: 1rem;
    background-color: slategray;
}
.pictures{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 10rem);
    margin: auto;
    width:80%;
    grid-template-areas: 
    "img1 img1 img2 img2 img3 img3"
    "img4 img4 img4 img5 img5 img5";
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.airVideo{
    grid-area: video1;
    height: 10rem;
margin: auto;
}
.pic1{
    grid-area: img1;
}
.pic2{
    grid-area: img2;
}
.pic3{
    grid-area: img3;
}
.pic4{
    grid-area: img4;
}
.pic5{
    grid-area: img5;

}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-media{
    display: flex;
    flex-direction: row;
    width:10%;
}