@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
*{
    text-align: center;
}
li{
    text-align: start;
}
section{
    width: 50%;
    margin: auto;
}
header{
    margin-bottom: 1rem;
    position: sticky;

}
.nav{
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
    justify-content: space-evenly;
    margin: auto;
    background-color: slategray;
    padding: 10px;
}
.headerFlex{
    display:flex;
    justify-content: center;
    align-items: center;
}
.headerLogo{
    width:100px;
    height: 100px;
}
.linkSub{
    display: flex;
    width:40rem;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 1rem;

}
.links{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 3px solid black;
    border-radius: 30%;
    background-color: rgb(93, 120, 147);
    text-decoration: none;
}
.links:hover{
    position: relative;
    animation: hovering 0.5s forwards;
}
.search{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-bottom: 1rem;
    padding-top: 10px;
    flex-shrink: 2;

}
.searchBox{
    margin:auto;
    width: 15rem;

}
.break{
    flex-basis: 100%;
    height: 0;
}
#recom{
    visibility:hidden;
}

@keyframes hovering{
    0%{
        top:0px;
    }
    100% {
        top:10px;
        background-color: rgb(64, 84, 105);
    }
}
a{
    font-size: larger;
    font-weight: bold;
    color: white;

}
.logo{
    width: 45%;
    height: 45%;
}
body{
    background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23FFFFFF' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23f3fbff' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23e6f8ff' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23daf4ff' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23cdf1ff' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23BFEDFF' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
article{
    width:75%;
    float: left;
}
.search{
    margin: auto;
    padding-bottom: 1rem;
    background-color: slategray;
    padding-top: 5px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    clear: left;
}
aside{
    display: flex;
    flex-direction: column;
}
.reviews{
    font-family: "DM Serif Text", serif;

    display: flex;
    margin-left: 15px;
    width:22%;
    height:auto;
    border-radius: 5px;
    background-color: rgb(195, 220, 233);
    padding: 1em;
}
.social-media{
    display: flex;
    flex-direction: row;
    width:10%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
